:root {
  --white: #fff;
  --grey: grey;
}

body {
  background-image: url(../starter-code/assets/destination/background-destination-desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 1440px;
  height: 900px;
}
header hr {
  width: 80%;
  opacity: 25%;
  margin: 5% 0 0 -2%;
  color: var(--white);
  position: relative;
}
nav {
  width: 100vw;
  height: 16vh;
  display: flex;
  align-items: center;
  position: relative;
}
main {
  display: flex;
  flex-direction: row;
}
.logo {
  width: 40vw;
  height: 15vh;
  background-color: transparent;
  display: flex;
  align-items: center;
}
.logo img {
  margin: 5% 5% 0 5%;
}
.menu {
  fill: transparent var(--white) 4%;
  height: 15vh;
  width: 60vw;
  backdrop-filter: blur(30px);
  filter: saturation(25%);
  background-color: transparent;
  display: flex;
  align-items: center;
}
.menu a {
  margin: 0 5%;
  color: var(--white);
  text-decoration: none;
  font-size: 20px;
  transition: 0.5s;
}
.menu a:hover {
  border-bottom: 3px solid var(--white);
}
.numberdestination {
  color: rgb(179, 168, 168);
  margin-right: 5px;
  font-size: 30px;
}
span {
  color: var(--white);
  display: inline;
  font-size: 30px;
}
.left {
  max-width: 60vw;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.left img {
  width: 445px;
  height: 445px;
  margin: 20px 0 0 150px;
}
.destination-info {
  display: flex;
  align-items: center;
  margin-left: 120px;
}
.right {
  display: flex;
  text-align: left;
  max-width: 40vw;
  max-height: 100vh;
  margin: 0 auto;
}
.info {
  margin-top: 20%;
  width: 80%;
  height: 80%;
}
.info a {
  font-size: 20px;
  text-decoration: none;
  color: var(--grey);
  margin-left: 10px;
}
#active {
  color: var(--white);
}
h2 {
  color: var(--white);
  margin: 10px;
  font-size: 120px;
}
p{
  font-size: 22px;
  display: inline;
  color: var(--white);
}
h3{
  color: var(--grey);
}
h4{
  margin-top: 2px;
  font-size: 22px;
  display: inline;
  color: var(--white);
}
hr{
  margin-top: 40px;
  color: var(--grey);
}
#DistanceTimeTravel{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.top-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.bottom-info{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}